= show_errors @color
= form_for @color, url: director_color_path, html: {class: 'form-horizontal col-sm-6', role: 'form'} do |form|
  .form-group
    = form.label :name, class: 'control-label col-lg-2'
    .col-lg-10
      = form.text_field :name, class: 'form-control'
  .form-group
    = form.label "Code(HEX)", class: 'control-label col-lg-2'
    .col-sm-4
      = form.text_field :hex_code, class: 'form-control hex-input'
  .form-group
    .col-sm-offset-2.col-sm-4
      = form.submit 'Update', class: 'button button-gray'
