.row
  = dashboardWidget('building', 'Malls', @mall_count)
  = dashboardWidget('shopping-bag', 'Shops', @shop_count)
  = dashboardWidget('gift', 'Items', @item_count)
.row
  = dashboardWidget('dollar', 'Brands', @brand_count)
  = dashboardWidget('tag', 'Types',@type_count)
  = dashboardWidget('bug', 'Bugs', @bug_count)
.row
  = show_notice(notice)