%tr
  %td
    = link_to mall_restore.name, edit_director_mall_path(mall_restore)
  %td
    = mall_restore.address
  %td
    = link_to "#{icon('undo')}".html_safe, {controller: :malls, action: "update", id: mall_restore.id, mall: {trash: false}}, method: :put
  %td
    = link_to "#{icon('trash')}".html_safe, director_mall_path(mall_restore), method: :delete, confirm: 'Are you sure ?'